<!DOCTYPE html>
<html lang="utf-8" ng-app="eventsApp">
<head>
    <title>AngularJS Events App</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/eventController.js"></script>
</head>
<body>
<div class="container">

    <div class="thumbnail navbar">
        <ul class="navbar-brand">
            <ol>Home</ol>
        </ul>
    </div>

    <div ng-controller="eventController">
        <img src="img/logo.png" alt="{{alt}}" class="alert-danger "/>

        <div class="row">
            <div class="col-lg-4">
                <h2>{{event.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div><h5>Date:</h5>{{event.date}}</div>
                <div><h5>Time:</h5>{{event.time}}</div>
            </div>

            <div class="col-lg-5">
                <address>
                    <h5>Address:</h5><br/>
                    {{event.location.address}}<br/>
                    {{event.location.city}}
                </address>
            </div>
        </div>
        <h3> Sessions:</h3>
        <hr />
            <ul ng-repeat="session in event.sessions">
                <div class="well">

                    <span class="voteCounterContainer">
                             <div class="voteImg"><img src="img/icons/glyphicons_343_thumbs_up.png" ng-click="voteCountUp(session)"/></div>
                             <div class="voteCounter">{{session.voteCount}}</div>
                             <div class="voteImg"><img src="img/icons/glyphicons_344_thumbs_down.png" ng-click="voteCountDown(session)"/></div>
                    </span>

                    <div class="panel-title"><h4>{{session.name}}</h4></div>
                    <div><strong>Duration:</strong> {{session.duration}}</div>
                    <div><strong>Level: </strong>{{session.level}}</div>

            </ul>
        </div>

    </div>

</div>
</body>
</html>